<form class="pure-form pure-form-aligned" [formGroup]="epcForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>{{title}}</legend>
        <div class="pure-control-group">
            <label for="bic">BIC</label>
            <input type="text" id="bic" placeholder="BIC" class="pure-input-1-2" formControlName="bic" />
        </div>
        <div class="pure-control-group">
            <label for="iban">IBAN<sup>*</sup></label>
            <input type="text" id="iban" placeholder="IBAN" class="pure-input-1-2" required formControlName="iban" />
        </div>
        <div class="pure-control-group">
            <label for="name">Name<sup>*</sup></label>
            <input type="text" id="name" placeholder="Name" class="pure-input-1-2" required formControlName="name" />
        </div>
        <div class="pure-control-group">
            <label for="amount">Betrag<sup>*</sup></label>
            <input type="number" id="amount" step="0.01" min="0" max="1000000000" class="pure-input-1-2" required
                max="{{amountMax}}" min="{{amountMin}}" formControlName="amount" />
        </div>
        <div class="pure-control-group">
            <label for="reference">Verwendungszweck</label>
            <input type="text" id="reference" placeholder="Verwendungszweck" class="pure-input-1-2"
                maxlength="{{referenceMaxLength}}" formControlName="reference" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" [disabled]="!epcForm.valid">Barcode
                generieren</button>
        </div>
    </fieldset>
</form>